<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup></startup>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="jspell.assist.JSpellQuickAssistProcessor"
            id="jspell.assist.JSpellQuickAssistProcessor"
            name="JSpell">
      </quickAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="jspell"
            colorPreferenceKey="jspell.marker.color"
            colorPreferenceValue="255,0,0"
            contributesToHeader="false"
            highlightPreferenceKey="jspell.marker.highlight"
            highlightPreferenceValue="true"
            icon="icons/marker.gif"
            includeOnPreferencePage="true"
            label="Java Spelling Marker"
            overviewRulerPreferenceKey="jspell.marker.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            quickFixIcon="icons/marker.gif"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceKey="jspell.marker.text"
            textPreferenceValue="true"
            textStylePreferenceKey="jspell.marker.style"
            textStylePreferenceValue="PROBLEM_UNDERLINE"
            verticalRulerPreferenceKey="jspell.marker.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerUpdaters">
      <updater
            class="jspell.marker.JSpellMarkerUpdater"
            id="jspell.updater"
            markerType="jspell.marker">
      </updater>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="jspell.marker"
            name="jspell"
            super="org.eclipse.ui.workbench.texteditor.spelling">
      </type>
   </extension>
   <extension
         id="jspell.marker"
         name="JSpell"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.jdt.ui.internal.spelling">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="jspell.JSpellPluginPrefs">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="jspell.resolution.JSpellMarkerResolutionGenerator"
            markerType="jspell.marker">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
            class="jspell.preferences.JSpellPreferencePage"
            id="jspell.preferences.JSpellPreferencePage"
            name="Java type spelling">
      </page>
   </extension>

</plugin>
