<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="jdt.spelling.assist.QuickAssistProcessor"
            id="jdt.spelling.assist.QuickAssistProcessor"
            name="JDT Spelling">
      </quickAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="jdt.spelling"
            colorPreferenceKey="jdt.spelling.marker.color"
            colorPreferenceValue="255,100,26"
            contributesToHeader="false"
            highlightPreferenceKey="jdt.spelling.marker.highlight"
            highlightPreferenceValue="false"
            icon="icons/marker.gif"
            includeOnPreferencePage="true"
            label="Java Spelling Marker"
            overviewRulerPreferenceKey="jdt.spelling.marker.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            quickFixIcon="icons/marker.gif"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceKey="jdt.spelling.marker.text"
            textPreferenceValue="true"
            textStylePreferenceKey="jdt.spelling.marker.style"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceKey="jdt.spelling.marker.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="jdt.spelling.marker"
            name="JDT Spelling"
            super="org.eclipse.ui.workbench.texteditor.spelling">
      </type>
   </extension>
   <extension
         id="jdt.spelling.marker"
         name="JDT Spelling"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.jdt.ui.internal.spelling">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="jdt.spelling.Preferences">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
            class="jdt.spelling.preferences.SpellingPreferencePage"
            id="jdt.spelling.preferences.SpellingPreferencePage"
            name="Java type spelling">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="jdt.spelling.Startup">
      </startup>
   </extension>

</plugin>
