<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="jdt.spelling"
            colorPreferenceKey="jdt.spelling.marker.color"
            colorPreferenceValue="124,84,224"
            contributesToHeader="false"
            highlightPreferenceKey="jdt.spelling.marker.highlight"
            highlightPreferenceValue="false"
            icon="icons/marker.gif"
            includeOnPreferencePage="true"
            label="Java Spelling Marker"
            overviewRulerPreferenceKey="jdt.spelling.marker.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            quickFixIcon="icons/marker.gif"
            showInNextPrevDropdownToolbarAction="true"
            textPreferenceKey="jdt.spelling.marker.text"
            textPreferenceValue="true"
            textStylePreferenceKey="jdt.spelling.marker.style"
            textStylePreferenceValue="UNDERLINE"
            verticalRulerPreferenceKey="jdt.spelling.marker.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            markerType="jdt.spelling.marker"
            name="jdt.spelling">
      </type>
   </extension>
   <extension
         id="jdt.spelling.marker"
         name="JDT Spelling"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="jdt.spelling.Preferences">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
            class="jdt.spelling.preferences.SpellingPreferencePage"
            id="jdt.spelling.preferences.SpellingPreferencePage"
            name="JDT Spelling">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="jdt.spelling.Startup">
      </startup>
   </extension>
 
   <extension
         point="org.eclipse.jdt.ui.quickFixProcessors">
      <quickFixProcessor
            class="jdt.spelling.assist.QuickFixProcessor"
            id="jdt.spelling.assist.QuickFixProcessor"
            name="JDT Spelling Quick Fix">
      </quickFixProcessor>
   </extension>plugin>
</plugin>
